
            <form [formGroup]="form" (ngSubmit)="Submit()">

                <div class="card-body p-5 text-center">
                  <h3 class="mb-5">Sign up</h3>
                  </div>
      
                  <div class="form-outline mb-4">
                        <label class="form-label" for="typeEmailX-2">Email</label>
                        <p *ngIf="!form.get('email').valid && form.get('email').touched">*Enter valid email</p>
                        <input type="email" id="typeEmailX-2" class="form-control"
                        formControlName="email"/>
                        <label class="form-label" for="typePasswordX-2">Password</label>
                    <input type="password" id="typePasswordX-2" class="form-control" 
                    formControlName="password"/>
                   
                  </div>
      
                  <!-- Checkbox -->
                  <div class="form-check d-flex justify-content-start mb-4">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value=""
                      id="form1Example3"
                      ngModel
                      formControlName="checkbox"
                    />
                    <label class="form-check-label" for="form1Example3"> Remember password </label>
                  </div>
      
                  <button class="btn btn-primary" type="submit">SignUp</button>
                </form>
    
    
